.footer-area {
    background-color: var(--clr-color-lightPurple);
    margin: 150px 0 0 0;
    padding: 50px 0;
}
  .footer-logo {
    margin-bottom: 15px;
  }
  
  .footer-social ul {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .footer-social ul li a {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    border-radius: 4px;
    color: rgba(30, 30, 30, 0.3);
    border: 1px solid rgba(30, 30, 30, 0.3);
    font-size: 15px;
    background: rgba(255, 255, 255, 0.08);
  }
  .footer-social ul li a:hover {
    background: var(--clr-theme-primary);
    color: #fff;
    border-color: transparent;
  }
  
  @media only screen and (min-width: 1600px) and (max-width: 1799px) {
    .footer-widget.ml-80 {
      margin-left: 60px;
    }
  }
  @media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .footer-widget.ml-80 {
      margin-left: 40px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .footer-widget.ml-80 {
      margin-left: 20px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .footer-widget.ml-80 {
      margin-left: 0;
    }
  }
  .footer-widget-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .footer-widget-list ul li {
    margin-bottom: 10px;
  }
  .footer-widget-list ul li:last-child {
    margin-bottom: 0;
  }
  .footer-widget-list ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(30, 30, 30, 0.6);
  }
  .footer-widget-list ul li a:hover {
    color: var(--clr-theme-primary);
  }
  
  .footer-subscribe-form {
    position: relative;
    margin-bottom: 13px;
    z-index: 1;
  }
  .footer-subscribe-form input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid rgba(30, 30, 30, 0.1);
    padding-right: 124px;
    color: rgba(30, 30, 30, 0.4);
    background-color: transparent;
    font-size: 14px;
  }
  .footer-subscribe-form input::-webkit-input-placeholder {
    color: rgba(30, 30, 30, 0.4);
    font-size: 14px;
    opacity: 1;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .footer-subscribe-form input:-moz-placeholder {
    color: rgba(30, 30, 30, 0.4);
    font-size: 14px;
    opacity: 1;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .footer-subscribe-form input::-moz-placeholder {
    color: rgba(30, 30, 30, 0.4);
    font-size: 14px;
    opacity: 1;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .footer-subscribe-form input:-ms-input-placeholder {
    color: rgba(30, 30, 30, 0.4);
    font-size: 14px;
    opacity: 1;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .footer-subscribe-form button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    line-height: 40px;
    background: var(--clr-theme-primary);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    z-index: 1;
    overflow: hidden;
  }
  .footer-subscribe-form button::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 300px;
    height: 200px;
    background-color: #08449E;
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-40px, -80px) scale(0.1);
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
  }
  .footer-subscribe-form button:hover {
    color: #fff;
  }
  .footer-subscribe-form button:hover::after {
    opacity: 0.5;
    transform-origin: 100px 100px;
    transform: scale(1) translate(-10px, -70px);
  }
  .footer-subscribe-condition {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-subscribe-condition label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(30, 30, 30, 0.6);
  }
  
  .copyright-area {
    border-top: 1px solid rgba(30, 30, 30, 0.1);
    padding: 30px 0;
  }
  .copyright-text p {
    text-align: center;
    margin-bottom: 0;
    color: rgba(30, 30, 30, 0.5);
  }
  
  .footer-subscribe-condition .condition_label {
    display: block;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
  }
  .footer-subscribe-condition .condition_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .footer-subscribe-condition .check_mark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border: 1px solid rgba(30, 30, 30, 0.3);
    border-radius: 2px;
  }
  .footer-subscribe-condition .check_mark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .footer-subscribe-condition .condition_label input:checked ~ .check_mark:after {
    display: block;
  }
  .footer-subscribe-condition .condition_label .check_mark:after {
    left: 3px;
    top: 0px;
    width: 4px;
    height: 8px;
    border: solid rgba(30, 30, 30, 0.4);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
  
  
  



  
  