.counter-wrap {
    border: 1px solid rgba(30, 30, 30, 0.1);
  }
  .counter-item {
    display: flex;
    gap: 20px;
    border-right: 1px solid rgba(30, 30, 30, 0.1);
    padding-top: 25px;
    padding-bottom: 30px;
    justify-content: center;
  }
  
  .counter-icon i {
    font-size: 38px;
    color: var(--clr-color-darkPink);
    flex-shrink: 0;
    display: block;
    margin-top: 10px;
  }
  .counter-info-title {
    font-size: 55px;
    display: flex;
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .counter-info-text {
    font-size: 14px;
    text-transform: uppercase;
    color: #767676;
    display: inline-block;
    line-height: 1;
  }
  
  .counter-wrap .col-xl-3:last-child .counter-item {
    border-right: 0;
  }